/* 
    font-family: "Playfair Display", serif;
    font-family: "Whisper", cursive;
    color: #2A3439;
*/ 

body {
    font-family: "Playfair Display", serif;
    background-color: #ffefe0;
}

#hero {
    background-image: url("./galeria/hero-pic1.avif");
    height: 500px;
    width: 100%;
    background-position: center;
    background-size: cover;
}

#hero .menu-flex{
    display: flex;
    justify-content:space-between;
}

.menu-list{
    display: flex;
    background-color: rgb(255, 255, 255, .6);
}

.menu-list li {
    padding: 0 60px 0 30px;

}

#hero .hero-title {
    margin: 10px 20px 20px 130px;
    font-size: 20px;
    font-weight: 400;
    color: #2A3439;
}

#hero #menu .menu-list li a{
    text-decoration: none;
    color: #2A3439;
}

#hero #menu .menu-list {
    list-style: none;
    
}

#hero .hero-description{
    width: 350px;
    height: 250px;
    background-color: rgb(255, 255, 255, .7);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding:20px;
}

#hero .hero-description p{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0;
}

#hero .hero-description h2{
    font-weight: 300;
    font-size: 47px;
    text-align: center;
    margin-bottom: 0;
    margin-top: 5;
}

#hero .hero-description button{
    border: none;
    background-color: #9F8170;
    color: white;
    border-radius: 5px;
    padding: 15px;
    margin-top: 30px;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 2px;
}

#hero .hero-description button a {
    text-decoration: none;
}

#hero .hero-description button a:link{
    color: white;
}

#hero .hero-description button a:visited{
    color: white;
}

#hero .hero-description button a:hover{
    color: black;
}

#hero .hero-description button a:active{
    color:white;
}

#about{
    display: flex;
    justify-content: center;
    height: 470px;
    width: 100%;
}

#about .about-img img {
    width: 450px;
    height: 300px;
    border: 3px solid white;
    border-radius: 25px 0 25px 0;
    margin: 90px 40px 20px -20px;
    opacity: 0.7;
}

#about .about-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 300px;
    margin: 90px 20px 20px 40px;
}

#about .about-description p{
    text-align: center;
    font-size: 11px;

}

#about .about-description h3{
    font-weight: 400;
    font-size: 36px;
    font-family: "Whisper", cursive;
    color: #9F8170;
    margin: 15px 20px;
    
}

#about .about-description p:first-of-type{
    font-size: 15px;
    letter-spacing: 2px;
    
}

#about .about-description p:nth-of-type(2){
    letter-spacing: 2px;
}

#phrase-home {
    background-image: url("./galeria/quote-home.avif");
    height: 500px;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    margin: 30px 0 30px 0;
}

main #phrase-home .phrase-container {
    width: 500px;
    height: 170px;
    background-color: rgb(255, 255, 255, .5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: -130px 0 0 -250px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
}

.phrase-container h2{
    text-align: center;
    letter-spacing: 3px;
    font-weight: 400;
    font-size: 30px;

}

#phrase-home .phrase-container p{
    font-weight: 400;
    font-size: 25px;
    font-family: "Whisper", cursive;
    margin-top: 0;
}

#services{
    margin: 0 0 70px 0;
}

#services .services-title h2{
    font-family: "Whisper", cursive;
    font-size: 45px;
    font-weight: 200;
    text-align: center;
}

#services .services-types{
    display: flex;
    justify-content: center;
    align-items: center;
}

#services .services-types .services-options{
    padding: 10px;
    display: flex;
    flex-direction: column;

}

#services .services-types .services-options img{
    width: 170px;
    height: 270px;
    border: 2px solid white;
    border-radius: 10px 0 10px 0;
    opacity: 0.7;
    
}

#services .services-types .services-options .services-offer {
    text-align: center;
    background-color: white;
    border: 1px solid rgb(127, 165, 127);
    font-size: 15px;
    font-weight: 200;
    letter-spacing: 2px;
}

#services .services-types .services-options .services-btn {
    border: none;
    padding: 10px;
    background-color:#87907b;
}

#services .services-types .services-options .services-btn a{
    text-decoration: none;
    color: white;
}

#footer-contact{
    display: flex;
    background-image: url("./galeria/footer-background-option2.jpeg");
    background-size: cover;
    height: 400px;
    width: 100%;
    opacity: 0.7;
    align-items: center;

}

#footer-contact .footer-img img{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    margin: 0 0 0 110px;
}

#footer-contact .footer-opinion {
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    padding: 40px 50px 0 50px;
    height: 150px;
    width: 300px;
    background-color: #fdf5ec;
    opacity: 0.7;
    margin: 0 0 0 80px;
}

.footer-message .footer-ask {
    display: flex;
    flex-direction: column;
    margin: 10px 60px 10px 30px;
}

#footer-form {
    background-color: #94a87c;
    height: 250px;
    width: 270px;
    padding: 0 0 0 40px;
    margin: 100px;
}

#footer-form .footer-headline{
    margin: -20px 50px 5px 10px;
    background-color: white;
    padding: 10px;
    letter-spacing: 2px;
}

#footer-form .footer-headline #footer-headline-decoration{
    font-family: "Whisper", cursive;
    color: #9F8170;
    font-size: 25px;
    font-weight: 300;
}

.footer-message .footer-ask label{
    font-size: 15px;
    padding: 5px;
    text-align: center;
}

.footer-message .footer-ask input, .footer-message .footer-ask textarea{
    border: none;
    padding: 5px;
    color: black;
}

.footer-message .footer-ask .footer-btn{
    border: none;
    padding: 5px;
    margin: 10px;
    background-color: #9F8170;
    color: white;
    border-radius: 5px;
    letter-spacing: 2px;
}




